body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(to bottom right, #dfe9f3, #ffffff);
    color: #333;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header, main, footer {
    padding: 20px;
}

header {
    background: #2b3d63;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header h2 {
    font-weight: normal;
    margin-top: 8px;
}


main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    max-width: 1000px;
    margin: 40px auto;
    background: #ffffffd8;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
}


.profile {
    text-align: center;
}

.profile img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 3px solid #2b3d63;
    margin-bottom: 10px;
    transition: transform 0.4s ease, box-shadow 0.4s ease; 
}


.profile img:hover {
    transform: scale(1.08); 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

/* cv */
.cv { 
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    margin-top: 10px; 
}

.cv a {
    color: #ffffff;
    background: #2b3d63;
    text-decoration: none;
    padding: 10px 20px;
    border-radius:8px;
    transition: all 0.3s ease; 
    transform: translateY(0);
}
.cv :hover {
    background: #405a91;
    transform: translateY(-5px) scale(1.05); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}

.content p {
    text-align: justify;
    margin-bottom: 1em;
}

.content ul {
    list-style-type: square;
    padding-left: 20px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.social a {
    color: #ffffff;
    background: #2b3d63;
    text-decoration: none;
    padding: 10px 20px;
    border-radius:8px;
    transition: all 0.3s ease; 
    transform: translateY(0);
}

.social a:hover {
    background: #405a91;
    transform: translateY(-5px) scale(1.05); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}


footer {
    text-align: center;
    color: #ffffff;
    font-size: 0.9em;
    background: #fbfbfb;
    padding: 15px 0;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .content ul {
        text-align: left;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    .social a {
        padding: 8px 12px;
        font-size: 0.9em;
    }
}



